.layout {
	display: flex;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	&__wrapper {
		margin-top: 40px;
	}

	&_auth {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
